<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Sistema de análise de proteínas .fasta</title>
  </head>
  <body style="background-color: #E6E6FA;">
    <div style="
      background-color: white;
      border-radius: 15px 50px;
      border: 1px solid #ccc;
      margin: 0 auto;
      margin-top: 1%;
      padding: 1%;
      width: 60%;">
      <h2 class="text-center">Sistema de análise de proteínas .fasta</h2>

      <p>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
              {% for message in messages %}
                  <strong> {{ message }} </strong>
              {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
          {% endwith %}
      </p>
      <form method="post" action="/" enctype="multipart/form-data">

          <div class="form-group">
            <label for="exampleFormControlSelect1">
              Insira seu nome aqui:
            </label>
            <input
            class="form-control"
            type="text"
            name="name"
            autocomplete="off"
            placeholder="Seu nome aqui"
            required>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Insira seu endereço de email:</label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com" required>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Selecione o tipo de arquivo a ser enviado:
            </label>
            <br/>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="file_option" id="inlineRadio1" value="op_fasta" required>
              <br/>
              <label class="form-check-label" for="inlineRadio1">Arquivo 'fasta'</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="file_option" id="inlineRadio2" value="op_diso" required>
              <label class="form-check-label" for="inlineRadio2">Arquivo '.diso'</label>
              <br/>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">
              Insira o número de núcleos a serem utilizados (se for um arquivo fasta):
            </label>
            <select
            name="number"
            class="form-control"
            id="exampleFormControlSelect1"
            >
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlFile1">Selecione o arquivo no formato fasta* ('faa', 'fasta',
              'fna', 'ffn', 'frn', 'multifasta' ou 'multi-fasta') ou .diso:
              <p> *Se o arquivo exceder 25MB, será baixado um arquivo .zip com as partes para serem enviadas separadamente. </p>
            </label>
            <input
            type="file"
            name="file"
            label="Selecionar arquivo"
            class="form-control-file"
            id="exampleFormControlFile1"
            required>
          </div>

          <div class="form-group">
              <button type="submit"  class="btn btn-primary" value="Enviar arquivo fasta">
                Enviar arquivo fasta
              </button>
          </div>
      </form>
    </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
